<!-- Begin Abstract Section-->
<section id="abstract" class="abstract">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Submit your abstract</h3>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">
	    <span class="tickets-info">Submissions are open September 1 - October 15 for talks and Sep 1 - October 31 for posters in one of these research themes: Methods development and systems biology, Metagenomics and agrigenomics, Evolution and population genomics, and Health and disease genomics.</span>
	    </p>
     <a href="https://forms.gle/fa23NKbBYhAAZsKq6" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Submit an abstract</a>

        </div>
</section>
<!-- End Abstract Section -->
